<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title><!-- this will display text in the tab -->
			<!-- link to main stylesheet -->
			<link rel="icon" href="/image/piGS.png">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<style>
				body {margin:0;}

				/*.active {
				    background-color: red;
				}*/
			</style>
		</head>
		<body>
			<nav>
				<ul class="top"> <!--This will appear on all pages-->
					<li><a style = "padding-left: 50px;padding-right:50px" href="/">HOME</a></li>
					<li class="element"><a href="/publications">Publications</a></li>
	        		<li class="element">
					<a href="/research">Research <i class="fa fa-caret-down"></i> </a>
					<ul class="dropdown">
						<li><a href="/research/smartgrid">Smartgrid</a></li>
						<li><a href="/research/energytransition">Energy Transition</a></li>
						<li><a href="/research/networkstability">Network Stability</a></li>
						<li><a href="/research/networkrobustness">Network Robustness</a></li>
					</ul>
				</li>
	        		<li class="element"><a href="/inthenews">In The News</a></li>
		        	<li class="element"><a href="/talks">Talks</a></li>
	        		<li class="element"><a href="/people">People</a></li>
	        		<li class="element"><a href="/contact">Contact</a></li>
				<li class="element"><a href="/blog">Blog</a></li>
				<li style="float:right"><a> <i class="fa fa-search"></i></a>
					<ul class="dropdown_menu">
						<form style="float: right;" action="/search/index.html" method="get">
							<input type="text" placeholder="Search..." id="search_input" name="query">
						</form>
					</ul>
				</li>
				<li class="small_menu" style="float:right"><a> <i class="fa fa-bars"></i></a>
					<ul class="dropdown_menu">
						<li><a href="/publications">Publications</a></li>
						<li><a href="/research">Research <i class="fa fa-caret-left"></i></a>
							<ul class="dropdown_menu_2">
								<li><a href="/research/smartgrid">Smartgrid</a></li>
								<li><a href="/research/energytransition">Energy Transition</a></li>
								<li><a href="/research/networkstability">Network Stability</a></li>
								<li><a href="/research/networkrobustness">Network Robustness</a></li>
							</ul>
						</li>
						<li><a href="/inthenews">In The News</a></li>
						<li><a href="/talks">Talks</a></li>
						<li><a href="/people">People</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</li> 
				
	    		</ul>
			</nav>

			<!-- ###################### -->

			<div id="sideButton" class="sidebutton" onclick="openNav()">
  				<a href="#" class="sidearrow"><i class="fa fa-caret-left fa-2x"></i></a> 
  			</div>

			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-caret-right fa-2x"></i></a>
				<a href="/" style="font-size: 35px; padding-bottom: 1.5em; padding-top: 0.5em;"><i>	What's new?</i></a>
				<a href="/publications" style="font-size: 20px;"><b>	Publication</b></a>
				<a href="#" class="link" style="padding-left:3em;" id="el_pubs"></a>
				<a href="/inthenews" style="font-size: 20px;"><b>	News</b></a>
				<a href="#" class="link" style="padding-left:3em;" id="el_news"></a>
				<a href="/talks" style="font-size: 20px;"><b>	Talk</b></a>
				<a href="#" class="link" style="padding-left:3em;" id="el_talk"></a>
				<a href="/blog" style="font-size: 20px;"><b>	Blog</b></a>
				<a href="#" class="link" style="padding-left:3em; padding-bottom: 1em" id="el_blog"></a>
				<div align=right>
					<a style="font-size: 10px" id="el_update"></a>
				</div>
			</div>

			<!-- ###################### -->

			{{ content }}
			
			
			<footer>
	    		<ul>
	        		<li><a class="footer link" href="https://github.com/GeeeHesso" target="_blank"><img src="/image/GitHubMark1.png" alt="" style="float:left;width:22px;">&nbsp;&nbsp;&nbsp;github.com/GeeeHesso</a></li>
				</ul>
			</footer>

			<!-- ###################### -->

			<script>
			function openNav() {
			    document.getElementById("mySidenav").style.width = "60%";
			    document.getElementById("mySidenav").style.border = "solid";
			    document.getElementById("sideButton").style.width = "0";
			}

			function closeNav() {
			    document.getElementById("mySidenav").style.width = "0";
			    document.getElementById("mySidenav").style.border = "none";
			    document.getElementById("sideButton").style.width = "auto";
			}
			</script>
			<script>
			  	window.store = {
					{% for post in site.posts %}
						{% unless post.search == "exclude" %}
							"{{ post.url | slugify }}": {
							"title"    : "{{ post.title | escape }}",
							"url"      : "{{ site.baseurl }}{{ post.url }}",
							"category" : "{{ post.category }}",
							"tags"     : "{{ post.tags | join: ', ' }}",
							"date"     : "{{ post.date }}"

							} {% unless forloop.last %},{% endunless %}
						{% endunless %}      
					{% endfor %}
			  	};			  
			</script>
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
			<script src="/whatnew.js"></script>
			<script>
				var time = {time: "{{site.time}}"}; 
				console.log(time.time)
				console.log(time.time[6])
				time2 = time.time.split(" ")[0]
				var string_update='<i>Last update : '
				string_update += time2
				string_update += '</i>'
				console.log(time2)
				var el_update = document.getElementById('el_update');
				el_update.innerHTML = string_update;
			</script>

			<!-- ###################### -->

		</body>
	</html>
