<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<style>
				body {margin:0;}

				/*.active {
				    background-color: red;
				}*/
			</style>
		</head>
		<body>
			<nav>
	    		<ul class=top> <!--This will appear on all pages-->
	        		<li><a href="/">Home</a></li>
	        		<li class="element"><a href="/publications">Publications</a></li>
	        		<li class="dropdown element">
					<a href="/research" class="top dropbtn">Research <i class="fa fa-caret-down"></i> </a>
					<div class="top dropdown-content">
						<a href="/research/smartgrid">Smartgrid</a>
						<a href="/research/energytransition">Energy Transition</a>
						<a href="/research/networkstability">Network Stability & Control</a>
					</div>
				</li>
	        		<li class="element"><a href="/inthenews">In The News</a></li>
		        	<li class="element"><a href="/talks">Talks</a></li>
	        		<li class="element"><a href="/people">People</a></li>
	        		<li class="element"><a href="/contact">Contact</a></li>
	        		<li class="element"><a href="/blog">Blog</a></li>
				<li style="float:right"><a> <i class="fa fa-search"></i></a></li>
				<li style="float:right" class="dropdown"><a class="top dropbtn"> <i class="small_menu fa fa-bars"></i></a>
					<div class="top dropdown-content" style="right:0;">
						<a href="/publications">Publications</a>
						<a href="/research" class="top dropbtn">Research <i class="fa fa-caret-down"></i> </a>
						<div class="top dropdown-content" style="position:absolute;top:15%;right:100%">
							<a href="/research/smartgrid">Smartgrid</a>
							<a href="/research/energytransition">Energy Transition</a>
							<a href="/research/networkstability">Network Stability & Control</a>
						</div>
						<a href="/inthenews">In The News</a>
						<a href="/talks">Talks</a>
						<a href="/people">People</a>
						<a href="/contact">Contact</a>
						<a href="/blog">Blog</a>
					</div>
				</li>
				
	    		</ul>
			</nav>
			<div style="padding:20px;margin-top:30px;">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!--<li><a href="mailto:wow@gmail.com">email</a></li>-->
	        		<li><a class=footer href="https://github.com/GeeeHesso" target="_blank">github.com/GeeeHesso</a></li>
				</ul>
			</footer>
		</body>
	</html>
